<div class="scheduleSection">
  <div class="allSchedule">

    <div class="scheduleTable">
      <table class="scheduleList">
        <tr>
          {{#each days}}
            <th
              class="scheduleDay {{this.day}} {{this.dayStatus}}"
            >{{this.day}}</th>
          {{/each}}
        </tr>
        <tr>
          <td>
            {{#each list}}
              {{#each Monday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
          <td>
            {{#each list}}
              {{#each Tuesday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
          <td>
            {{#each list}}
              {{#each Wednesday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
          <td>
            {{#each list}}
              {{#each Thursday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
          <td>
            {{#each list}}
              {{#each Friday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
          <td>
            {{#each list}}
              {{#each Saturday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
          <td>
            {{#each list}}
              {{#each Sunday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
        </tr>
      </table>

    </div>
    <div class="links">
      <a href="/admin" class="makeChnges">Update schedule</a>
      <a href="/clear" class="clear">clear schedule</a>
      <a href="/" class="logOut">log out</a>
    </div>
  </div>
</div>