<div class="scheduleSection">
  <div class="allSchedule">

    <div class="scheduleTable">
      <table class="scheduleList">
        <tr>
          <th class="scheduleDay sunday">Sun</th>
          <th class="scheduleDay monday">Mon</th>
          <th class="scheduleDay tuesday">Tue</th>
          <th class="scheduleDay wednesday">Wed</th>
          <th class="scheduleDay thursday">Thur</th>
          <th class="scheduleDay friday">Fri</th>
          <th class="scheduleDay saturday">Sat</th>
        </tr>
        <tr>
          <td>
            {{#each list}}
              {{#each Sunday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
          <td>
            {{#each list}}
              {{#each Monday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
          <td>
            {{#each list}}
              {{#each Tuesday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
          <td>
            {{#each list}}
              {{#each Wednesday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
          <td>
            {{#each list}}
              {{#each Thursday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
          <td>
            {{#each list}}
              {{#each Friday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
          <td>
            {{#each list}}
              {{#each Saturday}}
                <li>{{this}}</li>
              {{/each}}
            {{/each}}
          </td>
        </tr>
      </table>

    </div>
    <div class="changes">

      <div class="updtSection">
        <form action="/update" class="updtForm" method="POST">
          <input
            type="text"
            name="updtname"
            class="updtname"
            placeholder="Enter waiter name"
          />

          <select name="currentDay" id="fromDays" class="fromDays">
            <option value="">MOVE FROM</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>

          <select name="newDay" id="toDays" class="toDays">
            <option value="">MOVE TO</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>
          <button type="submit" class="updtBtn">UPDATE</button>
        </form>

      </div>
      <div class="deleteSection">
        <form action="/delete" class="deleteForm" method="POST">
          <input
            type="text"
            name="deletename"
            class="deletename"
            placeholder="Enter waiter name"
          />
          <select name="currentDay" id="deleteFrom" class="deleteFrom">
            <option value="">DELETE FROM</option>
            <option value="all">All</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>
          <button type="submit" class="deleteBtn">DELETE</button>
        </form>
      </div>
    </div>
  </div>
</div>