<div class="main">
  <div class="daysProject">
    <div class="headDiv">
      <h1 class="head">SELECT DAYS</h1>
    </div>
    <div class="stateMessage">
      <p class="state">{{messages.schedule}}</p>
    </div>
    {{#if selectedDays}}
     <p class="scheduleTxt">Well done {{waiterName}}.Keep in mind that the admin may reschedule you.You will definitely see the changes.You can update your working days below:</p> 
    {{else}}
    <p class="scheduleTxt">Welcome {{waiterName}}, Select days which you will be available to work
      below:</p>
     {{/if}} 
    <div class="form daysForm">
      <form action="/waiters/{{waiterName}}" method="post">
       {{#each daysState}}
             
        <div>
          <div class="label">
            <label for={{this.weekDay}}>{{this.weekDay}}</label>
          </div>
          <div class="day">
            <input
              type="checkbox"
              name="day"
              class="daySelect {{this.weekDay}} {{this.checkedState}}"
              value='{{this.weekDay}}'/>
              
          </div>
        </div>
            
        {{/each}}
          {{#if selectedDays}}
            <button class="scheduleBtn" type="submit">Update</button>
            {{else}}
            <button class="scheduleBtn" type="submit">Schedule</button>
            {{/if}}
          </form>
          <form action="/logout" method="get">
             <button class="goHome">Logout</button>
          
          </form>
        